:root {
    --Orange-corporate: #F96900;
    --Orange-light: #fff0e6;
    --Orange-light-hover: #ffd0b2;
    --Gray-corporate: #F3F3F7;
    --Gray-dark: #73798C;
    --Orange-dark: #d15700;
    --black: #000000;
    --orange-hover: #ED5D08;
}
